@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*::after, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
@layer components{

    .main-cont{
        @apply flex flex-col items-center min-h-screen bg-[#F7F4F1];
    }

    .title-txt{
        @apply text-6xl text-center mx-3 font-bold font-mono uppercase mt-4;
    }

    .inner-cont{
        @apply flex flex-col mt-14 md:mt-32 my-8 md:flex-row;
    }

    .card-div{
        @apply flex flex-col items-center px-8 mx-7 my-5 md:my-0 rounded-t-md border-double border-[0.65rem] border-black bg-[#ff4d5c] text-black;
    }

    .position-text{
        @apply text-5xl mt-2 mb-4 font-serif font-bold;
    }

    .image{
        @apply object-fill mt-[2.5rem] h-[16rem] w-[17rem] border hover:scale-105  rounded-sm border-zinc-950 duration-300 bg-white hover:rounded-md;
    }

    .name-text{
        @apply  text-2xl font-tittilum font-bold mt-5 mb-1;
    }

    .team-text{
        @apply  text-lg my-3 font-tittilum font-bold italic;
    }
    
}